
.color-title {
    font-weight: normal;
}
#red {
    color: red;
}

#blue {
    color: blue;
}

#green {
    color: green;
}

#yellow {
    color: goldenrod;
}

#orange {
    color: orange;
}
img {
    width: 200px;
    height: 200px;
    object-fit:cover;
}